---
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include meta.html %}
	<title>{{site.title}}</title>
</head>
<body>
	<div class="container-lg-fluid">
		<header>{% include nav.html %}</header>
		<section id="home">
			{% include default.html %}
		</section>
		<section id="about">
			<div class="color_bg">
				{% include about.html %}
			</div>
		</section>
		<section id="services">
			<div class="color_bg">
				{% include services.html %}
			</div>
		</section>
		<section id="contact">
			<div class="color_bg">
				{% include contact.html %}
			</div>
		</section>
		<footer>
			{% include copyright.html %}
		</footer>
	</div>
	{% include script.html %}
</body>
</html>