---
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% include meta.html %}
	<title>{{site.title}}</title>
</head>
<body>
	<div class="container-lg-fluid">
		<header>{% include nav.html %}</header>
		<section id="home">
			{% include default.html %}
		</section>
		<section id="about">
			{% include about.html %}
		</section>
		<section id="services">
			{% include services.html %}
		</section>
		<section id="contact">
			<div>
				{% include contact.html %}
			</div>
		</section>
		<footer>
			<div class="d-inline-block copyright">&copy; Desenvolvido Por. <a href="https://github.com/{{site.author}}">{{site.author}}</a></div>
			<div class="d-inline-block social">
				<a href="https://www.facebook.com/{{site.facebook}}" target="_blank">
					<i class="fab fa-facebook"></i></a>
				<a href="https://www.twitter.com/{{site.twitter}}" target="_blank">
					<i class="fab fa-twitter-square"></i></a>
				<a href="https://www.instagram.com/{{site.instagram}}" target="_blank">
					<i class="fab fa-instagram"></i></a>
				<a href="https://www.youtube.com/{{site.youtube.com}}" target="_blank">
					<i class="fab fa-youtube"></i></a>
				<a href="https://www.pinterest.com/{{site.pinterest}}" target="_blank">
					<i class="fab fa-pinterest-square"></i></a>
			</div>
		</footer>
	</div>
	{% include script.html %}
</body>
</html>