<div class="row align-middle">
	<div class="col-lg-6">
		<figure class="figure_about">
			<img class="img-fluid" src="{{site.about-img}}" alt="conheça nossa história" />
		</figure>
	</div>
	<div class="col-lg-6">
		<div class="container_about">
			<div class="about_space">
				<h2 class="h2">Conheça Nossa História</h2>
			</div>
			<p>E aí, colega! Você está cordialmente convidado para relembrar com a classe de 1980 do colégio Santa Maria!<br>
			Espere uma noite cheia de diversão e surpresas!</p>
		</div>
	</div>
</div>