<div class="row align-middle">
	<div class="col-lg-6">
		<figure class="figure_contact">
			<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/contact.png" alt="contact" />
		</figure>
	</div>
	<div class="col-lg-6">
		<div class="con_contact text-center">
			<div class="contact_line">
				<h2 class="h2 text-capitalize">Fale Conosco</h2>
			</div>
			<h4 class="h4 text-uppercase">Endereço para Correspondência</h4>
			<p>Rua Qualquer, 123, Qualqer Cidade, Estado, País</p>
			<h4 class="h4 text-uppercase">E-Mail</h4>
			<p>alo@sitebacana.com.br</p>
			<h4 class="h4 text-uppercase">Telefone</h4>
			<p>(12) 3456-7890</p>
		</div>
	</div>
</div>