<div class="col-lg-12">
	<div class="info_contact">
		<div class="line_bt">
			<h2 class="h2 title_sections effect_drop_shadow">Solicite seu Orçamento</h2>
		</div>
		<div class="informations_contact">
			<div class="sub_info">
				<h4 class="h4 effect_drop_shadow">
					<i class="fas fa-location-arrow"></i>
					Endereço para Correspondência
				</h4>
				<p class="descriptions">Rua Qualquer, 123, Qualqer Cidade, Estado, País</p>
			</div>
			<div class="sub_info">
				<h4 class="h4 effect_drop_shadow">
					<i class="fas fa-envelope-open"></i>
					E-Mail
				</h4>
				<p class="descriptions">alo@sitebacana.com.br</p>
			</div>
			<div class="sub_info">
				<h4 class="h4 effect_drop_shadow">
					<i class="fas fa-phone-square-alt"></i>
					Telefone
				</h4>
				<p class="descriptions">(12) 3456-7890</p>
			</div>
		</div>
	</div>
</div>
