<div class="fig_main">
	<div class="container_text title_main line_main">
		<h2 class="h2 effect_drop_shadow">Os melhores vinhos<br/> 1980</h2>
		<p class="descriptions"><small>Saborear a vida com um belissímo vinho com mais de 20 anos de tradição!</small></p>
	</div>
	<div class="carrousel_div">
		<div class="carrousel_figures_main">
			{% for run in site.data.figures %}
			<figure class="bg_background_main">
				<img class="img-fluid bg_main" src="{{run.figures}}" alt="{{site.descriptions}}" />
			</figure>
			{% endfor %}
		</div>
	</div>
</div>