<div class="d-flex flex-row flex-wrap justify-content-between align-middle nav_glob">
	<div class="figure_logo">
		<h1 class="h1 effect_drop_shadow">{{site.title}}</h1>
	</div>
	<!--<figure class="figure_logo">
		<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.logo}}" alt="{{site.description}}" />
	</figure>-->
	<nav class="nav">
		<ul class="sub_nav">
			<li><a href="#home" target="_self">Home</a> <span class="vertical_bars">|</span> </li>
			<li><a href="#about" target="_self">Sobre</a> <span class="vertical_bars">|</span> </li>
			<li><a href="#services" target="_self">Serviços</a> <span class="vertical_bars">|</span> </li>
			<li><a href="#contact" target="_self">Contato</a> <span class="vertical_bars">|</span> </li>
		</ul>
	</nav>
</div>