<div class="col-lg-12">
	<div class="line_bt">
		<h2 class="h2 title_sections effect_drop_shadow">Nossos Serviços</h2>
	</div>
	<div class="row align-middle">
		{% for card in site.data.services %}
		<div class="col-lg-4 mt-5 mb-auto">
			<div class="hover_bg">
				<figure class="figure_icon">
					<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/{{card.img}}" alt="{{card.alt}}" />
				</figure>
				<div class="row">
					<h3 class="h3">{{card.title}}</h3>
					<p class="descriptions">{{card.description}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>