/* 
 .d8888b.  888          888               888 
d88P  Y88b 888          888               888 
888    888 888          888               888 
888        888  .d88b.  88888b.   8888b.  888 
888  88888 888 d88""88b 888 "88b     "88b 888 
888    888 888 888  888 888  888 .d888888 888 
Y88b  d88P 888 Y88..88P 888 d88P 888  888 888 
 "Y8888P88 888  "Y88P"  88888P"  "Y888888 888                            
*/

::-webkit-scrollbar-track {
	background-color: rgb(50,50,50);
}
::-webkit-scrollbar {
	width: 5px; height: 5px;
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: #fff;
}

html,body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #000 !important;
	color: #fff;
}

body {
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	color: #fff;
}

h2 {
	position: relative;
}

ul,li {
	list-style: none;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	color: white;
}

header {
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}

.title_main .h2 {
	font-family: 'Spartan', sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin-left: 30px;
	text-transform: uppercase;
}

.h2.title_sections {
	font-family: 'Spartan', sans-serif;
	font-size: 42px;
	font-weight: 700;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: auto;
}

.effect_drop_shadow {
	filter: drop-shadow(10px 10px 10px crimson);
}

.descriptions {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: auto;
}

.descriptions small {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}

.line_bt::after {
	position: relative;
	top: auto;
	bottom: 0;
	left: auto;
	right: auto;
	display: block;
	content: "";
	max-width: 100%;
	width: 50%;
	height: 4px;
	background-color: #fff;
	margin: auto;
}

.line_main::after {
	position: relative;
	top: auto;
	bottom: 0;
	left: auto;
	right: auto;
	display: block;
	content: "";
	max-width: 100%;
	width: 75%;
	height: 6px;
	margin: auto;
	background-color: #e63c3c;
}

.color_bg {
	background-color: rgba(0,0,0,0.900);
	padding: 75px 50px;
}

.row .h3 {
	margin-top: 4%;
	margin-bottom: auto;
	text-align: center;
}

.figure_logo .h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.nav_glob {
	padding: 20px 30px;
}

.sub_nav li {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 3px 5px;
}

.sub_nav li:hover {
	background-color: crimson;
	transition: .2s linear;
	padding: 3px 5px;
	border-radius: 4px;
}

.vertical_bars {
	width: 100%;
	height: 100%;
	margin: auto 5px;
	color: #fff;
}

.nav .sub_nav a {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.figure_logo .img-fluid {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: local;
	background-origin: border-box;
	object-fit: cover;
	width: 100%; height: 100px;
}

.fig_main {
	padding: 100px 30px;
}

.container_text {
	position: relative;
	top: auto;
	bottom: 0;
	z-index: 100;
	left: auto;
	right: auto;
	text-align: center;
}

.carrousel_div {
	margin-top: 5%;
	margin-bottom: auto;
}

.carrousel_figures_main {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow-x: auto;
	gap: 10px;
}

.bg_background_main {
	width: 38%;
}

.bg_main {
	width: 100%;
	height: auto;
	border-radius: 10px;
	opacity: 0.3;
}

.bg_main:hover {
	opacity: 1;
	transition: .3s linear;
}

.figure_icon {
	width: 50%;
	height: auto;
	padding: 25px; color: #fff;
	background-color: #fff;
	border-radius: 50%;
	border: 10px solid #e63c3c;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.img-fluid { width: 100%; height: 100%; }

.hover_bg {
	padding: 10px 10px;
}

.hover_bg:hover {
	background-color: crimson;
	padding: 10px 10px;
	border-radius: 10px;
	transition: .4s linear;
}

.hover_bg:hover .figure_icon {
	border: 10px solid #fff;
}

#services {
	background-image: url(https://media-public.canva.com/gT14U/MAELzigT14U/1/s.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	object-fit: cover;
	z-index: -100px;
}

#contact {
	background-image: url(https://media-public.canva.com/ied34/MAEF6Xied34/1/s.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	object-fit: cover;
	z-index: -100px;
}

.informations_contact {
	max-width: 630px;
	width: 100%;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.info_contact .descriptions {
	text-align: left;
	margin: 0;
	padding: 0;
}

.sub_info {
	padding-bottom: 5%;
}

.fas {
	font-size: 35px;
	margin: auto 3px;
}

.fab {
	font-size: 16px;
	color: white;
}

footer {
	text-align: center;
	padding: 20px 20px;
}

.copyright {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 500;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}

.copyright a {
	color: #fff;
}

.copyright a:hover {
	color: #fff;
}